<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>ExamCellAutomation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminValidation</display-name>
    <servlet-name>AdminValidation</servlet-name>
    <servlet-class>AdminValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminValidation</servlet-name>
    <url-pattern>/AdminValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionPaperGenerator</display-name>
    <servlet-name>QuestionPaperGenerator</servlet-name>
    <servlet-class>QuestionPaperGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionPaperGenerator</servlet-name>
    <url-pattern>/QuestionPaperGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionPaperPartb</display-name>
    <servlet-name>QuestionPaperPartb</servlet-name>
    <servlet-class>QuestionPaperPartb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionPaperPartb</servlet-name>
    <url-pattern>/QuestionPaperPartb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionPaperpartb</display-name>
    <servlet-name>QuestionPaperpartb</servlet-name>
    <servlet-class>QuestionPaperpartb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionPaperpartb</servlet-name>
    <url-pattern>/QuestionPaperpartb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyValidation</display-name>
    <servlet-name>FacultyValidation</servlet-name>
    <servlet-class>FacultyValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyValidation</servlet-name>
    <url-pattern>/FacultyValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentValidation</display-name>
    <servlet-name>StudentValidation</servlet-name>
    <servlet-class>StudentValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentValidation</servlet-name>
    <url-pattern>/StudentValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewQuestionBank</display-name>
    <servlet-name>ViewQuestionBank</servlet-name>
    <servlet-class>ViewQuestionBank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewQuestionBank</servlet-name>
    <url-pattern>/ViewQuestionBank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addfaculty</display-name>
    <servlet-name>Addfaculty</servlet-name>
    <servlet-class>Addfaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addfaculty</servlet-name>
    <url-pattern>/Addfaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addstudent</display-name>
    <servlet-name>Addstudent</servlet-name>
    <servlet-class>Addstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addstudent</servlet-name>
    <url-pattern>/Addstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewFacultyDeatils</display-name>
    <servlet-name>ViewFacultyDeatils</servlet-name>
    <servlet-class>ViewFacultyDeatils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFacultyDeatils</servlet-name>
    <url-pattern>/ViewFacultyDeatils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addfacultybio</display-name>
    <servlet-name>Addfacultybio</servlet-name>
    <servlet-class>Addfacultybio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addfacultybio</servlet-name>
    <url-pattern>/Addfacultybio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addstudentbio</display-name>
    <servlet-name>Addstudentbio</servlet-name>
    <servlet-class>Addstudentbio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addstudentbio</servlet-name>
    <url-pattern>/Addstudentbio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudentDetails</display-name>
    <servlet-name>ViewStudentDetails</servlet-name>
    <servlet-class>ViewStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudentDetails</servlet-name>
    <url-pattern>/ViewStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFaculty</display-name>
    <servlet-name>RemoveFaculty</servlet-name>
    <servlet-class>RemoveFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFaculty</servlet-name>
    <url-pattern>/RemoveFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveStudent</display-name>
    <servlet-name>RemoveStudent</servlet-name>
    <servlet-class>RemoveStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStudent</servlet-name>
    <url-pattern>/RemoveStudent</url-pattern>
  </servlet-mapping>
</web-app>